@model SearchViewModel 

@{
    ViewData["Title"] = "Index";
}

<h2>Brief Explanation of Concepts</h2>

<p>
    <a asp-action="Create">Add a New Concept</a>
</p>

<p>
    @if (Model.ShowAll)
    {
        <a asp-action="Index" asp-route-showall="false">Hide Worked Summaries</a>

    }
    else
    {
        <a asp-action="Index" asp-route-showall="true">Show All Summaries</a>
    }

</p>

@*<form asp-action="Index" asp-controller="summaryItems" method="get">
    <div class="form-group">   
        <label asp-for="SearchText" class="control-label"></label>
        <input asp-for="SearchText" class="form-control" />
    </div>
    <div class="form-group" style="vertical-align:initial">
        <label asp-for="ShowAll" class="control-label"></label>
        <input asp-for="ShowAll" class="form-control" style="vertical-align:initial" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>*@

    <table class="table">
        <thead>
            <tr>
                <th>
                    Lesson Name
                </th>
                <th>
                    Title
                </th>
                <th>
                    Context
                </th>
                <th>
                    Worked
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Result)
            {
                <tr>
                    <td>
                        @if (item.Worked)
                        {
                            <del>@Html.DisplayFor(modelItem => item.lessonName.Name)</del>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.lessonName.Name)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Worked)
                    </td>

                    <td>
                        @if (item.Worked)
                        {
                            <a asp-action="MakeNotWorked" asp-route-id="@item.Id" asp-route-showAll="@Model.ShowAll">NotWorked</a>
                        }
                        else
                        {
                            <a asp-action="MakeWorked" asp-route-id="@item.Id" asp-route-showAll="@Model.ShowAll">Worked</a>
                        }

                        |   <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
